:root {
    --ohmyfood-primaire: #9356DC;
    --ohmyfood-secondaire: #FF79DA;
    --ohmyfood-tertiaire: #99E2D0;
    --ohmyfood-mediumgray: #eaeaea;
    --ohmyfood-lightgray: #f6f6f6;
    --ohmyfood-darkgray: #7e7e7e;
    --ohmyfood-footerbg: #353535;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*  ------------
    Custom class
    ------------ */
    .menu-title {
        font-weight: 300;
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0;
    }
    .divider {
        width: 2.2rem;
        height: 3px;
        border: 0;
        margin: 0.3rem 0 0.82rem 0;
        background: var(--ohmyfood-tertiaire);
        opacity: 0;
    }

/*  --------
    logo/nav
    -------- */
    nav {
        /* border: 1px solid blue; */
        /* height: 5rem; */
        position: relative;
    }

    nav i {
        font-size: 1.5rem;
        color: var(--ohmyfood-footerbg);
        position: absolute;
        left: 1.44rem;
        top: 0.1rem;
    }

    .img-container {
        /* border: 1px solid green; */
        height: 16.56rem;
        background-image: url(../img/restaurants/palette_du_gout.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

/*  -----------
    menu - main
    ----------- */
    .menu-container {
        /* Conserver une bordure ! */
        border: 1px solid var(--ohmyfood-lightgray);
        /* border: 1px solid red; */
        margin: -3.5rem auto 0 auto;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        background-color: var(--ohmyfood-mediumgray);
    }
    .menu-header {
        /* border: 1px solid red; */
        margin: 2.5rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    .menu-header h1 {
        /* border: 1px solid blue; */
        font-family: "Shrikhand", sans-serif;
        font-weight: 100;
        /* font-weight: lighter; */
        font-size: 1.4rem;
        letter-spacing: 0.05rem;
    }
    .menu-header i {
        font-size: 1.6rem;
    }

/*  -----------
    menu
    ----------- */
    .menu {
    /* border: 1px solid brown; */
    margin: 2.5rem 1rem;
    }
    
    .menu-starter,
    .menu-main-dish,
    .menu-desert,
    .menu-order {
        margin-bottom: 2.06rem;
    }

    article {
        border: 1px solid white;
        margin-bottom: 1rem;
        margin: 0 auto 1rem auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
            -webkit-box-shadow: 3px 3px 7px 0px rgba(146,146,146,0.65);
            -moz-box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
        opacity: 0;
        
    }

    .article-title {
        margin: 1.06rem 0 0 0.8rem;
        font-size: 1.05rem;
    }

    .description-container {
        /* border: 1px solid red; */
        margin: 0.5rem 1.44rem 0.8rem 0.8rem;
        display: flex;
        justify-content: space-between;
    }

    .article-price {
        font-weight: 600;
    }

    .article-description {
        font-size: 0.88rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 16rem;
        /* Important de donnner une largeur pour 'ellipsis' */
    }

    .menu-order {
        /* border: 1px solid green; */
        text-align: center;
        /* margin-bottom: 2.16rem; */
    }
    .btn-primary {
        padding: 0 3.06rem;
    }

/*  ======================
    Responsive design
    ====================== */

    /*  ======================
        Mobile M >375px
        ====================== */
        @media only screen and (min-width: 375px) {

            /* menu */
            article {
                max-width: 20rem;
            }
        }

    /*  ======================
        Tablet >768px
        ====================== */
        @media only screen and (min-width: 768px) {
            .menu-header h1 {
                font-size: 1.9rem;
                letter-spacing: 0.1rem;
            }
            .menu-title {
                font-size: 1.45rem;
            }
            .divider {
                width: 3.5rem;
            }
            article {
                max-width: 30rem;
            }
            .article-title {
                font-size: 1.15rem;
            }
            .article-description {
                font-size: 1.1rem;
                width: 20rem;
            }
            .article-price {
                font-size: 1.1rem;
            }
            .btn-primary {
                width: 15rem;
            }
        }
    /*  ======================
        Desktop >1024px
        ====================== */
        @media only screen and (min-width: 1024px) {
            .menu-container {
                width: 90%;
            }
            .menu-header {
                justify-content: space-evenly;
            }
        }




/*  -----------
    animations
    ----------- */
    /* Fade-in for each article in the menu */
    .fade-in-5 {
        animation: fadein 1.2s ease-in 0.5s forwards;
            -moz-animation: fadein 1.2s ease-in 0.5s forwards;
            -webkit-animation: fadein 1.2s ease-in 0.5s forwards;
    }
    .fade-in-10 {
        animation: fadein 1.2s ease-in 1s forwards;
            -moz-animation: fadein 1.2s ease-in 1s forwards;
            -webkit-animation: fadein 1.2s ease-in 1s forwards;
    }
    .fade-in-15 {
        animation: fadein 1.2s ease-in 1.5s forwards;
            -moz-animation: fadein 1.2s ease-in 1.5s forwards;
            -webkit-animation: fadein 1.2s ease-in 1.5s forwards;
    }
    .fade-in-20 {
        animation: fadein 1.2s ease-in 2s forwards;
            -moz-animation: fadein 1.2s ease-in 2s forwards;
            -webkit-animation: fadein 1.2s ease-in 2s forwards;
    }
    .fade-in-25 {
        animation: fadein 1.2s ease-in 2.5s forwards;
            -moz-animation: fadein 1.2s ease-in 2.5s forwards;
            -webkit-animation: fadein 1.2s ease-in 2.5s forwards;
    }
    .fade-in-30 {
        animation: fadein 1.2s ease-in 3s forwards;
            -moz-animation: fadein 1.2s ease-in 3s forwards;
            -webkit-animation: fadein 1.2s ease-in 3s forwards;
    }
    .fade-in-35 {
        animation: fadein 1.2s ease-in 3.5s forwards;
            -moz-animation: fadein 1.2s ease-in 3.5s forwards;
            -webkit-animation: fadein 1.2s ease-in 3.5s forwards;
    }
    .fade-in-40 {
        animation: fadein 1.2s ease-in 4s forwards;
            -moz-animation: fadein 1.2s ease-in 4s forwards;
            -webkit-animation: fadein 1.2s ease-in 4s forwards;
    }
    .fade-in-45 {
        animation: fadein 1.2s ease-in 4.5s forwards;
            -moz-animation: fadein 1.2s ease-in 4.5s forwards;
            -webkit-animation: fadein 1.2s ease-in 4.5s forwards;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein { /* Safari & Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }