@import "libs/normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

// Lancer SASS pour ce projet :
// ./dart-sass/sass SASS/style.scss css/main.css --watch

:root {
    --ohmyfood-primaire: #9356DC;
    --ohmyfood-secondaire: #FF79DA;
    --ohmyfood-tertiaire: #99E2D0;
    --ohmyfood-darkgray: #eaeaea;
    --ohmyfood-lightgray: #f6f6f6;
  }

body {
    font-family: "Roboto", sans-serif;
    background: white;
    color: black;
    font-size: 16px;
    // margin-left: 3rem;
}

/*  ------
    logo
    ------ */
    nav img {
        display: block;
        margin: 1.375rem auto;
        width: 10.125rem;
    }

/*  ---------
    #location
    --------- */
    #location {
        // border-top: 3px solid black;
        width: 100vw;
        height: 3.06rem;
        background-color: var(--ohmyfood-darkgray);
        box-shadow: 1px 3px 3px 0px rgba(213,213,213,0.75) inset;
            -webkit-box-shadow: 1px 3px 3px 0px rgba(213,213,213,0.75) inset;
            -moz-box-shadow: 1px 3px 3px 0px rgba(213,213,213,0.75) inset;
        text-align: center;
    }

    #location i,
    #location span {
        color: #353535;
        font-size: 0.95rem;
        padding-top: 1rem;
    }

    #location i {
        padding-right: 1rem;
        margin-left: -1.8rem;
    }
    #location span {
        font-weight: 500;
    }

/*  ---------
    Footer
    --------- */

    footer .footer-container img {
        width: 10.125rem; 
    }
