@import "./utils/variables";
@import "./utils/mixins";
@import "./vendors/normalize";
@import "./base/setup";
@import "./components/buttons";
@import "./components/location";
@import "./components/operation-card";
@import "./components/restaurants-card";
@import "./layouts/keyframes";
@import "./layouts/logoContainer";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/footer";
@import "./pages/home";
@import "./pages/restaurants";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

// Lancer SASS pour ce projet :
// ./dart-sass/sass SASS/style.scss css/main.css --watch
    
/*  ======================
    Desktop >1024px
    ====================== */
    @media only screen and (min-width: 1024px) {
        .logo-container {
            margin: 0 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            height: 6.5rem;
        }
        #location {
            width: 20rem;
            margin: 0;
        }
        #reservation {
            height: 15rem;
        }
        #operation {
            margin: 3.75rem 2rem 0 2rem;
            height: 15rem;
        }
        #operation h2 {
            margin-left: 1.25rem;
        }
        .operation-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: center;
        }
        .operation-card {
            margin: 0;
            max-width: 18.5rem;
        }
        .operation-card:nth-child(1) {
            margin-left: 0.94rem;
        }
        #restaurants,
        .footer-container {
            width: 90%;
            margin: 0 auto;
        }
        #restaurants {
            padding: 0 0 5.44rem 0;
        }
        .restaurants-container {
            display: flex;
            justify-content: space-between;
        }
        #restaurants article {
            margin: 0;
            width: 13rem;
        }
        .card-footer {
            margin: 1.25rem 0.2rem 0 0.2rem;
        }
        .logo {
            font-size: 2rem;
        }
        .footer-links {
            font-size: 1.3rem;
        }
    }

/*  ======================
    Desktop >1200px
    ====================== */
    @media only screen and (min-width: 1200px) {
        #restaurants article {
            width: 15rem;
        }
        .card-footer {
            margin: 1.25rem 0.9rem 0 1rem;
        }

    }
    
/*  ======================
    Desktop >1440px
    ====================== */
    @media only screen and (min-width: 1440px) {
        #reservation,
        #operation,
        #restaurants,
        .footer-container {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        /* Footer */
        .logo {
            margin: 1.5rem auto;
        }
    }
/*  ======================
    Loader Animation
    ====================== */
    .start {
        animation: display-off 5s forwards;
        position: absolute;
        left: 50%;
        // top: 20rem;
        top: 20%;
    }
    .loader-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // width: 99vw;
        // height: 100vh;
        -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
        background-color: rgba(146, 146, 146, 0.5);
        display: flex;
        justify-content: center;
        z-index: 999;
        -webkit-animation: display-off 5s forwards;
                animation: display-off 5s forwards;
    }

/*  ========================
    Bouncing balls animation
    ======================== */
    .bouncing-loader {
        display: flex;
        justify-content: center;
    }
    .bouncing-loader > div {
        width: 32px;
        height: 32px;
        margin: 3rem 0.8rem;
        background: $primary-color;
        border-radius: 50%;
        animation: bouncing-loader 0.6s 10 alternate;
    }
    .bouncing-loader > div:nth-child(2) {
        animation-delay: 0.2s;
    }
    .bouncing-loader > div:nth-child(3) {
        animation-delay: 0.4s;
    }