// composants/_button.scss

/*  ----------------------------
    Reservations & Order buttons
    ---------------------------- */

    .btn {
        margin: 2rem auto;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        color: white;

        .btn-primary {
            border-radius: $btn-rad;
            padding: 0 1.31rem;
            height: 3.06rem;
            min-width: 10rem;
            text-align: center;
            position: relative;
            z-index: 1;
            cursor: pointer;
            line-height: 3;
            @include btn-shadow-light;
            background: linear-gradient(to bottom,  rgba(255,163,229,0.91) 0%,rgba(252,155,227,0.91) 8%,rgba(235,115,218,0.95) 47%,rgba(161,91,219,1) 93%);
            transition: box-shadow 500ms, background 1000ms;

            &:hover {
                border-radius: $btn-rad;
                @include btn-shadow-dark;
                &::after {
                    border-radius: $btn-rad;
                    opacity: 1;
                }
            }
            &::after {
                border-radius: $btn-rad;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                // background: red;
                background: linear-gradient(to bottom,  rgba(255,186,234,1) 0%,rgba(249,184,232,1) 8%,rgba(234,145,221,1) 46%,rgba(172,121,216,1) 93%);

                opacity: 0;
                z-index: -1;
            }
        }
    }

    /*  ----------------------------
        Fill-up the Heart on over 
        ---------------------------- */
        .like {
            // border: 1px solid red;
            position: relative;
            margin-top: 0.3rem;

        }