/*  ---------
    #location
    --------- */

    .location {
        // border: 1px solid red;
        width: 100vw;
        height: 3.06rem;
        background-color: $mediumgray-color;
        @include location-shadow;
        text-align: center;

        i,
        span {
            color: $footer-bg;
            font-size: 0.95rem;
            padding-top: 1rem;
            font-weight: 500;
        }
        i {
            padding-right: 1rem;
            margin-left: -1.8rem; 
        }
    }

    // #location i,
    // #location span {
    //     color: $footer-bg;
    //     font-size: 0.95rem;
    //     padding-top: 1rem;
    //     font-weight: 500;
    // }
    // #location i {
    //     padding-right: 1rem;
    //     margin-left: -1.8rem;
    // }
