// components/_menu-item-card.scss

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item-card {
    border: 1px solid white;
    margin-bottom: 1rem;
    margin: 0 auto 1rem auto;
    background-color: white;
    border-radius: 20px;
    @include primary-shadow;
    opacity: 0;
    &__title {
        width: 80%;
        margin: 1.06rem 0 0 0.8rem;
        font-size: 1.05rem;
        @extend %text-ellipsis;
    }
    // Container <div>
    &__description {
        margin: 0.5rem 1.44rem 0.8rem 0.8rem;
        display: flex;
        justify-content: space-between;
        p {
            // border: 1px solid green;
            font-size: 0.88rem;
            @extend %text-ellipsis;
            /* Important de donnner une largeur pour 'ellipsis' */
            // width: 16rem;
            width: 80%;
        }
        &__price {
            font-weight: 600;
        }
    }
}