// components/_menu-item-card.scss

// ----------------------------------------------------------------
// Restaurants card for restaurants template.
// ----------------------------------------------------------------

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item {
    // border: 1px solid white;
    background-color:white;
    margin: 0 auto 1rem auto;
    @include primary-shadow;
  
    display: flex;
    justify-content: flex-start;
    
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    @include mobile-medium {
        min-width: 20rem;
        max-width: 30rem;
    }
    @include tablet {
        max-width: 30rem;
    }
    @include desktop-sm {
        margin: 1rem 0 1rem 0;
        min-width: 18rem;
        width: 18rem;
    }
    @include desktop-md {
        width: 21rem;
    }
    @include desktop-lg {
        width: 25rem;
    }

    &__description {
        width: 100%;
        padding: 0 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: all 0.5s;

        .description-title {
            margin: 0.8rem 0;
            font-size: 1.05rem;
            @extend %text-ellipsis;
            @include mobile-medium {
                font-size: 1.17rem;
            }
            @include desktop-sm {
                font-size: 1.05rem;
            }
            @include desktop-md {
                font-size: 1.17rem;
            }
            @include desktop-lg {
                font-size: 1.25rem;
            }
        }

        .description-subtitle-price {
            width: 100%;
            margin-bottom: 0.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .description-subtitle {
                min-width: 0;
                @extend %text-ellipsis;

                @include desktop-sm {
                    font-size: 0.9rem;
                }
                @include desktop-md {
                    font-size: 1rem;
                }
            }

            .description-price {
                padding: 0 1rem;
                
                span {
                    display: block;
                    font-weight: bold;
                    font-size: 1.2rem;

                }
            }
        }
    }
    
    .menu-item-check {
        background: $third-color;
        font-size: 1.5rem;
        overflow: hidden;
        position: relative;
        width: 0;

        transition: all 0.5s;

        .check-icon {
            color: white;
            overflow: hidden;
            position: absolute;
            
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover .menu-item-check {
        width: 20%; 
    }

    &:hover &__description {
        width: 80%;
    }

    &:hover .check-icon {
        animation: slidein 0.6s ease-in-out;
    }
}
