// components/_menu-item-card.scss

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item-card {
    border: 1px solid white;
    margin-bottom: 1rem;
    margin: 0 auto 1rem auto;
    background-color: white;
    border-radius: 20px;
    @include primary-shadow;
    opacity: 0;
    @include mobile-medium {
        max-width: 20rem;
    }
    @include tablet {
        max-width: 30rem;
    }
    @include desktop-sm {
        margin: 0;
        width: 18rem;
    }
    @include desktop-md {
        width: 21rem;
    }
    @include desktop-lg {
        width: 25rem;
    }
    &__title {
        width: 80%;
        margin: 1.06rem 0 0 0.8rem;
        font-size: 1.05rem;
        @extend %text-ellipsis;
        @include tablet {
            font-size: 1.15rem;
        }
        @include desktop-sm {
            font-size: 1.05rem;
        }
        @include desktop-md {
            font-size: 1.10rem;
        }
        @include desktop-lg {
            font-size: 1.25rem;
        }
    }
    // Container <div>
    &__description {
        margin: 0.5rem 1.44rem 0.8rem 0.8rem;
        display: flex;
        justify-content: space-between;
        p {
            // border: 1px solid green;
            font-size: 0.88rem;
            @extend %text-ellipsis;
            /* Important de donnner une largeur pour 'ellipsis' */
            // width: 16rem;
            width: 85%;
            @include tablet {
                font-size: 1.1rem;
            }
            @include desktop-sm {
                font-size: 0.68rem;
                line-height: 1.9;
            }
            @include desktop-md {
                // width: 17rem;
                font-size: 0.85rem;
                line-height: 1.2;
            }
            @include desktop-lg {
                // width: 21rem;
                font-size: 1rem;
            }
        }
        &__price {
            font-weight: 600;
            @include tablet {
                font-size: 1.1rem;
            }
        }
    }
}