// components/_operation-card.scss

/*  -------------------
    Section #operation
    ------------------- */

    .operation-card {
        border: 1px solid $mediumgray-color;
        // width: 18.5rem;
        width: 91%;
        max-width: 20.5rem;
        height: 4.625rem;
        position: relative;
        margin: 0 auto 2rem auto;
        border-radius: 30px;
        background-color: $lightgray-color;
        @include primary-shadow;
        display: flex;
        align-items: center;//Idéal pour le positionnement en hauteur !
        @include desktop-sm {
            margin: 0;
            max-width: 18.5rem;
        }
        
        .badge {
            border: 1px solid $primary-color;
            height: 1.44rem;
            width: 1.44rem;
            border-radius: 50%;
            background-color: $primary-color;
            color: white;
            line-height: 1.44rem;
            font-size: 1rem;
            padding: 0.3rem;
            text-align: center;
            position: absolute;
            left: -15px;
        }

        i {
            position: absolute;
            left: 38px;
            font-size: 1.2rem;
            color: $darkgray-color;
        }

        &:nth-child(1) {
            @include desktop-sm {
                margin-left: 0.94rem;
            }
        }

        &:nth-child(1) > i {
            left: 43px;
        }

        .operation-title {
            font-weight: 500;
            font-size: 0.8rem;
            position: absolute;
            left: 76px;
            @include mobile-medium {
                font-size: 1rem;
            }
        }

        &:hover{
            cursor: pointer;
            background-color: #ffe8f8;
    
            transition: background-color ease-in-out 250ms;
            &>i {
                color: $primary-color;
            } 
        }

    }

    // .operation-card:hover {
    //     cursor: pointer;
    //     background-color: #ffe8f8;

    //     transition: background-color ease-in-out 250ms;
    //     &>i {
    //         color: $primary-color;
    //     }
    // }
    
    // .operation-card i {
    //     position: absolute;
    //     left: 38px;
    //     font-size: 1.2rem;
    //     color: $darkgray-color;
    // }
    // .operation-card:nth-child(1) > i {
    //     left: 43px;
    // }
    // .operation-title {
    //     // border: 1px solid green;
    //     font-weight: 500;
    //     font-size: 0.8rem;
    //     position: absolute;
    //     left: 76px;
    // }