// components/_restaurants-card.scss

/*  -------------------
    restaurants section
    ------------------- */

    .restaurants__card-body {
        .card-img {
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 10.875rem;
        position: relative;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: $restaurant-rad;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px; 
            }

            .card-img__new {
                display: block;
                width: 4.94rem;
                height: 1.81rem;
                font-size: 0.625rem;
                font-weight: 600;
                text-align: center;
                line-height: 1.7rem;
                background-color: $third-color;
                color: $new-text;
                position: absolute;
                right: 14px;
                top: 14px;
            }
        }

        .card-footer {
            margin: 1.25rem 0.9rem 0 1rem;
            position: relative;
        
            display: flex;
            display: -webkit-box;
            justify-content: space-between;
            -webkit-box-pack: justify;
            flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-wrap: nowrap;

            @include desktop-sm {
                margin: 1.25rem 0.7rem 0 0.5rem;
            }
            @include desktop-md {
                margin: 1.25rem 0.9rem 0 1rem;
            }

            .card-footer-title > h3::first-letter,
            .card-footer-title > p::first-letter {
                text-transform: uppercase;
            }

            .card-footer-title p {
                margin-top: 0.3rem;
            }

            .card-footer-title h3 {
                @include desktop-sm {
                    font-size: 1rem;
                }
                @include desktop-md {
                    font-size: 1.17rem;
                }
            }

            .card-footer-like {
                position: relative;

                i {
                    color: $darkgray-color;
                    font-size: 1.5rem;
                }

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                    overflow: hidden;
                    opacity: 1;
                    transition: 0.5s 0s ease;
                }
            }
        }
    }

/*  ---------------------
    Heart icon transition
    --------------------- */
    
    .fa-heart.hover-icon {
        position: absolute;
        left: 0;
        opacity: 0;
        // color: transparent;
        &:hover,
        &:focus,
        &:active {
            opacity: 1;
            z-index: 999;
            background: linear-gradient($secondary-color, $primary-color);
            -webkit-background-clip: text;
                    background-clip: text;
            -moz-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
            transition: 1s 0s ease;
            -webkit-transition: 1s 0s ease;
        }
    }

    .fa-heart.default-icon:hover {
        cursor: pointer;
        opacity: 0;
        transition: 0.5s 0s ease;
        -webkit-transition: 0.5s 0s ease;
    }
