// Main setup for this project

* {
    box-sizing: border-box;
}

body {
    font-family: $text-font;
    background: white;
    color: black;
    font-size: $font-size;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

a:visited,
a:link,
a:focus,
a:active {
    color:black;
}

h1,
h2,
h3,
p {
    margin: 0;
}