@import "../layouts/_keyframes";

/*  ======================
    Loader Animation
    ====================== */
    .start {
        animation: display-off 5s forwards;
        -webkit-animation: display-off 5s forwards;
        position: absolute;
        left: 50%;
        top: 20%;
    }
    .loader-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
        background-color: rgba(146, 146, 146, 0.5);
        display: flex;
        display: -webkit-box;
        justify-content: center;
        -webkit-box-pack: center;
        z-index: 999;
        -webkit-animation: display-off 5s forwards;
                animation: display-off 5s forwards;
    }

/*  ========================
    Bouncing balls animation
    ======================== */
    .bouncing-loader {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
            justify-content: center;
    }
    .bouncing-loader > div {
        width: 32px;
        height: 32px;
        margin: 3rem 0.8rem;
        background: $primary-color;
        border-radius: 50%;
        animation: bouncing-loader 0.6s 10 alternate;
        -webkit-animation: bouncing-loader 0.6s 10 alternate;
    }
    .bouncing-loader > div:nth-child(2) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
    }
    .bouncing-loader > div:nth-child(3) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
    }
    
/*  ------
    logo
    ------ */
    .logo-container {
        @include desktop-sm {
            margin: 0 2rem;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
                align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            align-content: center;
            height: 6.5rem;
        }
    }


/*  --------------------
    Header - reservation
    -------------------- */
    .header {
        height: 18rem;
        background-color: $lightgray-color;
        text-align: center;
        @include tablet {
            width: 95%;
            margin: 0 auto;
        }
        @include desktop-sm {
            height: 15rem;
        }
        @include desktop-lg {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }

/*  -------------------
    Section #operation
    ------------------- */
    .operation {
        margin: 3.375rem 1rem 0 1.31rem;
        height: 24.19rem;
        @include desktop-sm {
            margin: 3.75rem 2rem 0 2rem;
            height: 15rem;
        }
        @include desktop-lg {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        &__heading {
            font-size: 1.45rem;
            @include desktop-sm {
                margin-left: 1.25rem;
            }
        }

        &__operation-container {
            margin-top: 2.125rem;
            @include desktop-sm {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    align-items: center;
                -webkit-box-pack: justify;
                    justify-content: space-between;
                align-content: center
            }
        }
    }

/*  -------------------
    Main .restaurants
    ------------------- */
    .restaurants {
        // border: 1px solid red;
        background-color: $lightgray-color;
        padding-bottom: 4rem;
        @include desktop-sm {
            width: 90%;
            margin: 0 auto;
            padding: 0 0 5.44rem 0;
        }
        @include desktop-lg {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        .container {
            margin: 0 1.25rem;

        }

        &__heading {
            margin: 0;
            padding-top: 3.69rem;
            margin-bottom: 1.75rem;
        }
        &__container {
            @include desktop-sm {
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: justify;
                    justify-content: space-between;
            }
        }

        // Article
        .restaurants__card {
            margin: 0 auto 1.125rem auto;
            height: 15.75rem;
            width: 17rem;
            border-radius: $restaurant-rad;
            @include primary-shadow;
            @include mobile-medium {
                width: 21rem;
            }
            @include tablet {
                margin-bottom: 2.5rem;
            }
            @include desktop-sm {
                margin: 0;
                width: 13rem;
            }
            @include desktop-md {
                width: 15rem;
            }

            &:hover {
                background-color: $third-color;
                transition: 1.2s ease-in-out;
            }

            a {
                text-decoration: none;
            }
        }
    }

/*  ---------
    Footer
    --------- */
    footer {
        background-color: $footer-bg;
        color: white;
    }