@import "../layouts/_keyframes";

/*  ------------
    Custom class
    ------------ */
    .menu-title {
        font-weight: 300;
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0;
        @include tablet {
            font-size: 1.45rem;
        }
    }
    .divider {
        width: 2.2rem;
        height: 3px;
        border: 0;
        margin: 0.3rem 0 0.82rem 0;
        background: $third-color;
        opacity: 0;
        @include tablet {
            width: 3.5rem;
        }
    }

/*  -----------------------------
    Restaurant header large image
    ----------------------------- */
    .rest-img-container {
        /* border: 1px solid green; */
        height: 16.56rem;
        background-image: url(../img/restaurants/palette_du_gout.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 55%;
        @include desktop-sm {
            background-position: 50% 60%;
        }
    }

/*  -----------
    menu - main
    ----------- */
    .rest-menu-container {
        /* Conserver une bordure ! */
        border: 1px solid $mediumgray-color;
        /* border: 1px solid red; */
        margin: -3.5rem auto 0 auto;
        border-top-right-radius: $restaurant-menu-rad;
        border-top-left-radius: $restaurant-menu-rad;
        background-color: $mediumgray-color;
        @include desktop-sm {
            width: 90%;
        }
        @include desktop-lg {
            max-width: 79.19rem;
        }
    }