@import "../layouts/_keyframes";

h1,
h2,
h3,
p {
    margin: 0;
}

/*  ------------
    Custom class
    ------------ */
    .menu-title {
        font-weight: 300;
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0;
    }
    .divider {
        width: 2.2rem;
        height: 3px;
        border: 0;
        margin: 0.3rem 0 0.82rem 0;
        background: $third-color;
        opacity: 0;
    }

/*  --------
    logo/nav
    -------- */
    nav {
        /* border: 1px solid blue; */
        /* height: 5rem; */
        position: relative;
    }
    nav i {
        font-size: 1.5rem;
        color: $footer-bg;
        position: absolute;
        left: 1.44rem;
        top: 0.1rem;
    }
    .logo-header {
        display: block;
        margin: 1.375rem auto;
        width: 10.125rem;
    }

/*  -----------------------------
    Restaurant header large image
    ----------------------------- */
    .img-container {
        /* border: 1px solid green; */
        height: 16.56rem;
        background-image: url(../img/restaurants/palette_du_gout.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 55%;
    }

/*  -----------
    menu - main
    ----------- */
    .menu-container {
        /* Conserver une bordure ! */
        border: 1px solid $mediumgray-color;
        /* border: 1px solid red; */
        margin: -3.5rem auto 0 auto;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        background-color: $mediumgray-color;
    }
    .menu-header {
        /* border: 1px solid red; */
        margin: 2.5rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    .menu-header h1 {
        /* border: 1px solid blue; */
        font-family: "Shrikhand", sans-serif;
        font-weight: 100;
        /* font-weight: lighter; */
        font-size: 1.4rem;
        letter-spacing: 0.05rem;
    }
    .menu-header i {
        font-size: 1.6rem;
    }

/*  -----------
    menu
    ----------- */
    .menu {
    /* border: 1px solid brown; */
    margin: 2.5rem 1rem;
    }
    
    .menu-starter,
    .menu-main-dish,
    .menu-desert,
    .menu-order {
        margin-bottom: 2.06rem;
    }

    %text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    //New css
    .menu__item {
        border: 1px solid white;
        margin: 0 auto 1rem auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
            -webkit-box-shadow: 3px 3px 7px 0px rgba(146,146,146,0.65);
            -moz-box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
        opacity: 0;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33%;
        overflow: hidden;
        cursor: pointer;

        .menu__card-title {
            border: 1px solid red;
            width: 80%;
            padding: 10px;

            .menu__item-title {
                margin: 0 0 0.8rem 0;
                font-size: 1.05rem;
                @extend %text-ellipsis;
            }
            .menu__item-description {
                font-size: 0.88rem;
                @extend %text-ellipsis;
                /* Important de donnner une largeur pour 'ellipsis' */
                width: 16rem;
            }
        }
        .price__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.06rem;
            font-weight: bold;
            margin-top: 18px;
            padding-right: 10px;
            text-align: right;
        }
        .checkbox {
            // border: 1px solid green;
            display: none;
            width: 30%;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            
            .btn-circle {
                font-size: 24px;
                color: white;
                transform: rotate(360deg);
            }
        }
    }
    .menu__item:hover .price__container {
        animation: checkbox-contain ease 0.3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        min-width: 3.125rem;
    }
    .menu__item:hover .checkbox {
        display: block;
        background-color: $third-color;
        max-width: 3.125rem;
        overflow: hidden;
        animation: checkbox ease 0.3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
    }
    .menu__item:hover .btn-circle {
        position: absolute;
        left: 27%;
        top: 35%;
        background-color: $third-color;
        animation: validbtn ease 0.5s 1;
    }

    //Old CSS
    .menu-item {
        border: 1px solid white;
        margin-bottom: 1rem;
        margin: 0 auto 1rem auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
            -webkit-box-shadow: 3px 3px 7px 0px rgba(146,146,146,0.65);
            -moz-box-shadow: 3px 3px 7px 0px rgba(146, 146, 146, 0.65);
        opacity: 0;
    }
    .article-title {
        margin: 1.06rem 0 0 0.8rem;
        font-size: 1.05rem;
        @extend %text-ellipsis;
    }
    .description-container {
        /* border: 1px solid red; */
        margin: 0.5rem 1.44rem 0.8rem 0.8rem;
        display: flex;
        justify-content: space-between;
    }

    .article-price {
        font-weight: 600;
    }

    .article-description {
        font-size: 0.88rem;
        @extend %text-ellipsis;
        /* Important de donnner une largeur pour 'ellipsis' */
        width: 16rem;
        
    }

    .menu-order {
        /* border: 1px solid green; */
        text-align: center;
        /* margin-bottom: 2.16rem; */
    }
    .btn-primary {
        padding: 0 3.06rem;
    }

/*  ======================
    Responsive design
    ====================== */

    /*  ======================
        Mobile M >375px
        ====================== */
        @media only screen and (min-width: 375px) {

            /* menu */
            .menu-header {
                justify-content: center;
            }
            .menu-header .far {
                margin-left: 1rem;
            }
            .menu-item {
                max-width: 20rem;
            }
            //New CSS
            .menu__item {
                max-width: 20rem;
            }
        }

    /*  ======================
        Tablet >768px
        ====================== */
        @media only screen and (min-width: 768px) {
            .menu-header h1 {
                font-size: 1.9rem;
                letter-spacing: 0.1rem;
            }
            .menu-title {
                font-size: 1.45rem;
            }
            .divider {
                width: 3.5rem;
            }
            .menu-item {
                max-width: 30rem;
            }
            .article-title {
                font-size: 1.15rem;
            }
            .article-description {
                font-size: 1.1rem;
                width: 21rem;
            }
            .article-price {
                font-size: 1.1rem;
            }
            .btn-primary {
                width: 15rem;
            }

            //New CSS
            .menu__item {
                max-width: 30rem;
            }
        }
    /*  ======================
        Desktop >1024px
        ====================== */
        @media only screen and (min-width: 1024px) {
            .img-container {
                background-position: 50% 60%;
            }
            .menu-container {
                width: 90%;
            }
            .menu-starter,
            .menu-main-dish,
            .menu-desert,
            .menu-order {
                margin: 5rem 0;
            }
            .starter-container,
            .main-dish-container,
            .desert-container {
                display: flex;
                justify-content: space-between;
            }
            .menu-item {
                margin: 0;
                width: 18rem;
            }
            .article-title {
                font-size: 1.05rem;
            }
            .article-description {
                width: 13rem;
                font-size: 0.68rem;
                line-height: 1.5;
            }

            //New CSS
            .menu__item {
                max-width: 18rem;
            }
        }
    /*  ======================
        Desktop >1200px
        ====================== */
        @media only screen and (min-width: 1200px) {
            .menu-item {
                width: 21rem;
            }
            .article-title {
                font-size: 1.15rem;
            }
            .article-description {
                width: 17rem;
                font-size: 0.85rem;
                line-height: 1;
            }
        }


    /*  ======================
        Desktop >1440px
        ====================== */
        @media only screen and (min-width: 1440px) {
            .menu-container {
                max-width: 79.19rem;
            }
            .menu-item {
                width: 25rem;
            }
            .article-title {
                font-size: 1.25rem;
            }
            .article-description {
                font-size: 1rem;
                width: 21rem;
            }
            .footer-container {
                width: 88%;
            }
            .btn-primary span {
                font-size: 1.5rem;
                line-height: 2.1;
            }
        }

/*  -----------
    animations
    ----------- */
    /* Fade-in for each article in the menu */
    .fade-in-5 {
        animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.5s both;
        -moz-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.5s both;
        -webkit-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.5s both;
    }
    .fade-in-6 {
        animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.6s both;
        -moz-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.6s both;
        -webkit-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.6s both;
    }
    .fade-in-8 {
        animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.8s both;
        -moz-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.8s both;
        -webkit-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.8s both;
    }
    .fade-in-9 {
        animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.9s both;
        -moz-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.9s both;
        -webkit-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 0.9s both;
    }
    .fade-in-11 {
        animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 1.1s both;
        -moz-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 1.1s both;
        -webkit-animation: fadein 0.5s cubic-bezier(0.390, 0.575, 0.565, 1) 1.1s both;
    }
    .fade-in-12 {
        animation: fadein 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
            -moz-animation: fadein 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
            -webkit-animation: fadein 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
    }
    
    /* Animation fadein & translate Y */
    @keyframes fadein {
        0% {
            opacity: 0;
            transform: translateY(25px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* TODO: Animation simple fade */