// utils/_mixins.scss

@mixin location-shadow {
  box-shadow: 1px 3px 3px 0px rgba(213, 213, 213, 0.75) inset;
  -webkit-box-shadow: 1px 3px 3px 0px rgba(213, 213, 213, 0.75) inset;
}

@mixin btn-shadow-light {
  box-shadow: 3px 3px 12px 0px rgba(107, 107, 107, 0.36);
  -webkit-box-shadow: 3px 3px 12px 0px rgba(107, 107, 107, 0.36);
}

@mixin btn-shadow-dark {
  box-shadow: 3px 3px 12px 0px rgba(68, 68, 68, 0.56);
  -webkit-box-shadow: 3px 3px 12px 0px rgba(68, 68, 68, 0.56);
}

@mixin primary-shadow {
  box-shadow: 0px 3px 15px 0px #92929265;
  -webkit-box-shadow: 0px 3px 15px 0px #92929265;
}

// Media Queries //

// Phone > 375px
@mixin mobile-medium {
  @media only screen and (min-width: 375px) {
    @content;
  }
}

// tablet > 768px
@mixin tablet {
  @media only screen and (min-width: 765px) {
    @content;
  }
}

// Desktop SM > 1024px
@mixin desktop-sm {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

// Desktop Medium > 1200px
@mixin desktop-md {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// Desktop Large > 1440px
@mixin desktop-lg {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
