// Colors used
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$mediumgray-color: #eaeaea;
$lightgray-color: #f6f6f6;
$darkgray-color: #7e7e7e;
$footer-bg: #353535;
$new-text: #008766;

// Typology
$logo-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
$font-size: 16px;

// radius
$btn-rad: 25px;
$restaurant-rad: 15px;


