// layouts/_keyframes.scss

/* ------------------------------ */
/* Loader keyframes - index.html  */
/* ------------------------------ */

@keyframes start-loading {
  0% {
      opacity: 0;
      background: rgb(134, 133, 133);
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      background: white;
  }
}
@keyframes display-off {
  to {
      visibility: hidden;
  }
}

/* Bouncing balls keyframe */
@keyframes bouncing-loader {
  to {
    opacity: 1;
    transform: translate3d(0, -16px, 0);
  }
}

/* ------------------------------------------*/
/* fadein & translateY restaurants template */
/* ------------------------------------------*/
    @keyframes fadein {
      0% {
          opacity: 0;
          transform: translateY(25px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
    }

/* ----------------------------------------*/
/* slidein check-icon restaurants template */
/* ----------------------------------------*/

  @keyframes slidein {
    from { transform: translate(-50%, -50%) rotate(90deg); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
  }