/*  ------
    logo
    ------ */
    .logo-container {
        position: relative;
        &__logo {
            display: block;
            margin: 1.375rem auto 1rem auto;
            width: 10.125rem;
        }
        &__left-arrow {
            // border: 1px solid red;
            font-size: 1.5rem;
            color: $footer-bg;
            position: absolute;
            left: 1.44rem;
            // top: 1.4rem;
        }
    }