// layouts/_restMenu.scss

/*  -----------
    menu - main
    ----------- */
    .rest-menu-container {
        &__menu-header {
            margin: 2.5rem 1rem;
            padding-top: 3.5rem;
            display: flex;
            display: -webkit-box;
            justify-content: space-between;
            -webkit-box-pack: justify;
            @include mobile-medium {
                justify-content: center;
                -webkit-box-pack: center;
            }

            position: relative;

            &__title {
                font-family: "Shrikhand", sans-serif;
                font-weight: 100;
                font-size: 1.4rem;
                letter-spacing: 0.05rem;
                &::first-letter {
                    text-transform: uppercase;
                }
                @include tablet {
                    font-size: 1.9rem;
                    letter-spacing: 0.1rem;
                }
            }
            i {
                font-size: 1.6rem;
                align-self: center;
                color: $darkgray-color;
                cursor: pointer;
                @include mobile-medium {
                    margin-left: 1rem;
                }
                @include tablet {
                    font-size: 1.9rem;
                }
            }
        }
        .rest-menu {
            margin: 2.5rem 1rem;
            &__section {
                margin-bottom: 2.06rem;
                @include desktop-sm {
                    margin: 5rem 0;
                }
                &__container {
                    @include desktop-sm {
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-pack: justify;
                            justify-content: space-between;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }